

      .logo{
        width: auto ;
        height: 50px;
        border-radius: 50px;
      }
      
      .mainContainer{
        display:flex; 
            justify-content:center;
            margin: 50px;

      }
      .pg1{
        justify-content:center; 
            align-items:center; 
            
            width: 595px;
            border-radius: 30px;
            background-image: url(img.jpg);
            padding-bottom: 50px;
            background-repeat: no-repeat;
            background-size: cover;

      }
      .pg2{
        justify-content:center; 
            align-items:center; 
           padding-bottom: 50px;
           height: 895px;
            width: 595px;
            border-radius: 30px;
            margin-top: 50px;
            background-color: aliceblue;
   
      }
      .pg3{
        justify-content:center; 
            align-items:center; 
           padding-bottom: 50px;
           height:auto;
            width: 595px;
            border-radius: 30px;
            margin-top: 50px;
   
      }
      div{ justify-content: center;
    align-items: center;
    }
      .ptag{
        background-color: white; 
              color:black; 
              margin: 50px 100px 50px 100px;
              padding:30px; 
              border-radius:8px; 
              font-size:20px;
      }
      .heading{
        background:steelblue; 
              color:black; 
              padding:20px; 
            
              max-width: max-content;
              margin-top:100px;
            
               margin: 80px;
              border-radius:8px; 
              font-size:20px;
      }
      .bgptag{
        background-image: url(img.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
              color:white;
              height: 200px;
              margin: 0px 50px 0px 50px; 
              padding:30px; 
              border-radius:8px; 
              font-size:20px;
      }
      .container2div2{
        color:black;
              height: 200px;
              margin: 0px 50px 0px 50px; 
              padding:30px; 
              border-radius:8px; 
              font-size:20px;

      }
      img{
    height: 250px;
    width: 400px;
    border-radius: 20px;
    
    
}
      .pg3div1{
         background-color:steelblue; 
            border-radius:20px;
              color:white; 
              padding:40px 40px 40px 40px; 
            
      }


      
 